/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Selector */
body {
  color: white;
  font-family: "Mitr", sans-serif;
  background: url("/img/sport.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Class Selector */

/* left section */
.left {
  /* border: 2px solid red; */
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 12px;
}
.left img {
  display: block;
  margin: auto;
  width: 60px;
  filter: invert(100%);
}
.left div {
  text-align: center;
  line-height: 33px;
  font-size: 26px;
  text-transform: uppercase;
}

/* middle section */
.middle {
  /* border: 2px solid green; */
  display: block;
  width: 53%;
  margin: 12px auto;
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 22px;
}
.navbar li a {
  text-decoration: none;
  color: white;
  padding: 34px 30px;
  cursor: pointer;
}
.navbar li a:hover,
.navbar li a.active {
  color: grey;
  text-decoration: underline;
}

/* right section */
.right {
  /* border: 2px solid blue; */
  display: inline-block;
  position: absolute;
  right: 34px;
  top: 12px;
}
.btn {
  font-family: "Mitr", sans-serif;
  margin: 0px 5px;
  padding: 4px 5px;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.btn:hover {
  background-color: darkgray;
  color: black;
}

/* Main section */
.container {
  border: 2px solid white;
  margin: 60px 50px;
  padding: 3px;
  border-radius: 15px;
  width: 35%;
}
.formgroup input {
  font-family: "Mitr", sans-serif;
  text-align: center;
  display: block;
  width: 370px;
  margin: 12px auto;
  padding: 5px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-size: 18px;
  border-radius: 8px;
  outline: none;
}
.formgroup input::placeholder {
  color: rgb(204, 204, 204);
}

.container h1 {
  text-align: center;
  font-size: 25px;
}
.container button {
  display: block;
  width: 370px;
  margin: 30px auto;
  background-color: transparent;
}
